{% load static %}

<footer class="bg-gray-800 text-white px-6 py-6 w-full">
  <div
    class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0"
  >
    <div class="w-full md:w-1/2 text-gray-300 space-y-3 text-center md:text-left">
      <div class="text-2xl font-bold text-white">A One Albany Wholesale</div>
      <p class="text-base">Convenience Store & Gas Station Supply</p>
    </div>

    <div
      class="w-full md:w-1/2 flex flex-col md:flex-row justify-center md:justify-end md:gap-16 gap-8 text-sm text-gray-300"
    >
      <div class="space-y-2 leading-relaxed text-center md:text-right">
        <p>Address: 87 Central Avenue, Albany, NY 12206</p>
        <p>Phone: 518-599-503 / 518-971-4066</p>
        <p>Owner: Binesh Hada (941-312-3186)</p>
        <p>
          Email:
          <a
            href="mailto:hadabinesh1@gmail.com"
            class="underline hover:text-gray-200"
            >hadabinesh1@gmail.com</a
          >
        </p>
      </div>

      <div class="text-center md:text-right">
        <nav>
          <ul class="flex flex-col gap-2">
            <li>
              <a href="/" class="hover:text-gray-300 transition duration-200"
                >Home</a
              >
            </li>
            <li>
              <a
                href="{% url 'contact' %}"
                class="hover:text-gray-300 transition duration-200"
                >Contact</a
              >
            </li>
            <li>
              <a
                href="{% url 'about' %}"
                class="hover:text-gray-300 transition duration-200"
                >About Us</a
              >
            </li>
            <li>
              <a
                href="{% url 'privacy_policy' %}"
                class="hover:text-gray-300 transition duration-200"
                >Privacy Policy</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="mt-6 text-center text-xs text-gray-400">
    &copy; {{ year }} A One Albany Wholesale. All rights reserved.
  </div>
</footer>
