{% extends 'layouts/blank.html' %}
{% block content %}
<div class="container my-5">
  <div class="row gy-4">
    <div class="col-md-6">
      <div
        class="d-flex align-items-center justify-content-center bg-light rounded"
        style="height: 500px; overflow: hidden;"
        aria-label="Product Image"
      >
        {% if product.images.first %}
          <img
            src="{{ product.images.first.images.url }}"
            alt="{{ product.name }} image"
            class="img-fluid"
            style="max-height: 100%; object-fit: contain;"
          />
        {% else %}
          <div class="text-muted fs-5">No image available</div>
        {% endif %}
      </div>
    </div>

    <div class="col-md-6 d-flex flex-column justify-content-between">
      <div>
        <h2 class="mb-2 fw-semibold">{{ product.name }}</h2>
        <p class="text-muted mb-3 small text-uppercase">{{ product.category }}</p>

        <h3 class="text-success fw-bold mb-3">${{ product.price }}</h3>

        <p class="mb-2">
          <strong>Stock:</strong>
          {% if product.stock > 0 %}
            <span class="text-success">In Stock</span>
          {% else %}
            <span class="text-danger">Out of Stock</span>
          {% endif %}

        </p>
        <p class="text-muted small mb-4">
          <strong>Last updated:</strong> {{ product.updated_at|date:"M d, Y" }}
        </p>

        <p class="mb-4">{{ product.description }}</p>
      </div>

      <form
        hx-post="{% url 'add_to_cart' product.id %}"
        hx-target="#add-to-cart-btn-{{ product.id }}"
        hx-swap="outerHTML"
        class="mt-auto w-100"
      >
        {% csrf_token %}
        <input type="hidden" name="quantity" value="1" />

        <div id="add-to-cart-btn-{{ product.id }}">
          {% if product.id in cart_product_ids %}
            <button class="btn btn-success w-100" disabled>Added</button>
          {% else %}
            <button type="submit" class="btn btn-dark w-100">Add to Cart</button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>

   <div class="row mt-5 justify-content-center">
    <div class="col-lg-9">
      <h3>Browse Similar Products</h3>
      <div class="row g-4 mt-3">
        {% for product in similar_products %}
          {% include 'a_shop/partials/product_card.html' %}
        {% empty %}
          <p>No similar products found.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}


