{% extends 'layouts/blank.html' %} {% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <div
        style="
          height: 500px;
          width: 100%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <img
          src="{{ product.images.first.images.url }}"
          class="img-fluid rounded"
          alt="Product Image"
        />
      </div>
    </div>

    <div class="col-md-6">
      <h2 class="mb-3">{{ product.name }}</h2>
      <p class="text-muted mb-2">{{ product.category }}</p>
      <h4 class="fw-bold text-success mb-2">${{ product.price }}</h4>
      <p class="mb-2">
        <strong>Stock:</strong>
        <span class="text-secondary">{{ product.stock }}</span>
      </p>
      <p class="text-muted small mb-3">
        <strong>Updated:</strong> {{ product.updated_at|date:"M d, Y" }}
      </p>
      <p class="mb-4">{{ product.description }}</p>

      <div class="mb-3">
        <label for="quantity" class="form-label">Quantity</label>
        <input
          type="number"
          id="quantity"
          class="form-control w-25"
          value="1"
          min="1"
        />
      </div>

      {% if product.id in cart_product_ids %}
      <button class="btn btn-success w-100" disabled>Added</button>
      {% else %}
      <button type="submit" class="btn btn-dark w-100">Add to Cart</button>
      {% endif %}
    </div>
  </div>
  <div class="col-lg-9 mt-4">
    <h1>Browse Similar Products</h1>
    <div class="row g-4 mt-4">
      {% for product in similar_products %}
        {% include 'a_shop/partials/product_card.html' %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
